api_maker_table_rubygem/.bundle/
api_maker_table_rubygem/doc/
api_maker_table_rubygem/log/*.log
api_maker_table_rubygem/pkg/
api_maker_table_rubygem/tmp/
api_maker_table_rubygem/spec/dummy/db/*.sqlite3
api_maker_table_rubygem/spec/dummy/db/*.sqlite3-*
api_maker_table_rubygem/spec/dummy/log/*.log
api_maker_table_rubygem/spec/dummy/storage/
api_maker_table_rubygem/spec/dummy/tmp/

npm-api-maker/node_modules
npm-api-maker/build

ruby-gem/.bundle/
ruby-gem/.env.test.local
ruby-gem/.lock*
ruby-gem/log/*.log
ruby-gem/node_modules
ruby-gem/pkg/
ruby-gem/spec/dummy/db/*.sqlite3*
ruby-gem/spec/dummy/db/*.sqlite3
ruby-gem/spec/dummy/log/*.log
ruby-gem/spec/dummy/node_modules/
ruby-gem/spec/dummy/public/packs/
ruby-gem/spec/dummy/public/packs-test/
ruby-gem/spec/dummy/public/packs/manifest.json
ruby-gem/spec/dummy/storage/
ruby-gem/spec/dummy/tmp/
ruby-gem/spec/dummy/yarn-error.log
