npm-api-maker/node_modules
npm-api-maker-bootstrap/node_modules
npm-api-maker-inputs/node_modules
ruby-gem/.bundle/
ruby-gem/.env.test.local
ruby-gem/log/*.log
ruby-gem/node_modules
ruby-gem/pkg/
ruby-gem/spec/dummy/app/assets/javascripts/i18n/
ruby-gem/spec/dummy/db/*.sqlite3
ruby-gem/spec/dummy/db/*.sqlite3-journal
ruby-gem/spec/dummy/log/*.log
ruby-gem/spec/dummy/node_modules/
ruby-gem/spec/dummy/public/javascripts/i18n.js
ruby-gem/spec/dummy/public/packs/
ruby-gem/spec/dummy/public/packs-test/
ruby-gem/spec/dummy/public/packs/manifest.json
ruby-gem/spec/dummy/storage/
ruby-gem/spec/dummy/tmp/
ruby-gem/spec/dummy/yarn-error.log
