[data-class="components--admin--layout--menu--menu-item"] {
  .menu-item-icon {
    margin-right: 4px;
    font-size: 12px;
  }

  + .components--admin--layout--menu--menu-item {
    margin-top: 6px;
  }
}
