<div data-controller="devise--sign-in">
  <form data-target="devise--sign-in.form" data-action="submit->devise--sign-in#onSubmit">
    <input data-target="devise--sign-in.email" id="email" type="text" />
    <input data-target="devise--sign-in.password" id="password" type="password" />
    <input data-target="devise--sign-in.remember" id="remember" type="checkbox" />
    <input type="submit" value="Sign in" />
  </form>
</div>