<div class="api-maker-data"<%

Devise.mappings.each do |scope|
  model = __send__("current_#{scope[0]}")
  next unless model

  resource_class = ApiMaker::Serializer.resource_for(model.class)
  next unless resource_class

  serializer = ApiMaker::Serializer.new(ability: current_ability, args: api_maker_args, model: model) if model

  %> data-current-<%= scope[0].to_s.dasherize %>="<%= model ? serializer.to_json : null %>"<%
end

%>></div>
