@import "./variables";

.component-api-maker-live-table {
  .live-table-header {
    text-align: left;
  }

  @media (max-width: $sm-to) {
    .live-table-column {
      display: flex;
      justify-content: space-between;

      .live-table-column-value {
        text-align: right;
      }
    }

    .live-table-header-row {
      margin-bottom: 15px;
    }

    .live-table-row {
      + .live-table-row {
        margin-top: 15px;
      }
    }
  }

  @media (min-width: $md-from) {
    .actions-column {
      text-align: right;
    }

    .live-table-header:not(:first-child),
    .live-table-column:not(:first-child) {
      padding-left: 10px;
    }

    .live-table-header:not(:last-child),
    .live-table-column:not(:last-child) {
      padding-right: 10px;
    }

    .live-table-column {
      .live-table-column-label {
        display: none;
      }

      &[data-text-align="center"] {
        .live-table-column-value {
          text-align: center;
        }
      }

      &[data-text-align="right"] {
        .live-table-column-value {
          text-align: right;
        }
      }
    }

    .live-table-header {
      &[data-text-align="center"] {
        text-align: center;
      }

      &[data-text-align="right"] {
        text-align: right;
      }
    }
  }
}
