@use "@kaspernj/api-maker/src/super-admin/stylesheets/variables" as *;

[data-component="super-admin--layout--header"] {
  @media (max-width: $sm-to) {
    [data-class="header-actions"] {
      .action-button {
        display: block;
        padding: 11px;

        + .action-button {
          border-top: 1px solid #c9c9c9;
        }

        &:link,
        &:visited {
          color: #000;
        }

        &:active,
        &:hover {
          background: #dddcf0;
        }
      }
    }
  }

  @media (min-width: $md-from) {
    [data-class="header-actions"] {
      .action-button {
        display: inline-block;
        padding: 7px 10px;
        border: 1px solid #cbd5e1;
        margin-right: 4px;
        margin-bottom: 4px;
        border-radius: 5px;
        font-size: 13px;

        &:link,
        &:visited {
          color: #000;
        }
      }
    }
  }
}
